<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="smtpServer" value="127.0.0.1"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpTo" value="dpt@sydnet.net"/>
    <add key="smtpFrom" value="HerrValuta@kotte.hopto.org"/>
    <add key="smtpSubject" value="Herr Valuta problem"/>
    <add key="smtpBody" value="Herr valuta är ledsen "/>

    <add key="valutaFromUrl" value="http://www.forex.se/index.asp"/>
    <add key="valutaToUrl" value="http://kotte.hopto.org:82/valuta.asp"/>
    <add key="valutaAutoRun" value="false"/>
    <add key="valutaAutoClose" value="true"/>
  </appSettings>
</configuration>