<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Login.UserName" value="books@cxx.biz" />
    <add key="Login.Password" value="xx" />
    <add key="Clz.Path" value="F:\Program Files (x86)\Collectorz.com\Book Collector" />
    <add key="Clz.Exe" value="BookCollector.exe" />
    <add key="Percy.Url" value="http://bokborsen.se" />
  </appSettings>
</configuration>
